[Unit]
Description=MIG scheduler
After=network.target

[Service]
ExecStart=/opt/mig/bin/mig-scheduler
Restart=always
RestartSec=60
StartLimitInterval=0
User=mig

[Install]
WantedBy=multi-user.target
